input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgb(194, 194, 194, .5);
}

.tableFixHead {
    overflow: visible;
}
.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
    -moz-box-shadow: inset 0 -10px 5px -10px #000000;
    -webkit-box-shadow: inset 0 -10px 5px -10px #000000;
    box-shadow: inset 0 -10px 5px -10px #000000;
}

.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin: 0;
    transition: background-color .4s ease;
}

.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}